body{
    background-color: rgb(0,0,0,.1);
    height:200vh;
}

.App>h1{
    text-align:center;
    font-size:40px;
    color:blue;
    text-shadow: 5px 7px 6px rgba(210,65,65,0.43);
}
.selectBox{
    display:block;
    margin:20px auto;
    width: 300px;
    /* box-sizing: border-box; */
    height:40px;
    border-radius: 10px;
    background-color: burlywood;
    padding:10px;

}


.caseBoxWrapper .active{
    border:2px solid rgba(71, 87, 236, 0.904);
}
.caseBoxWrapper .recovered{
    border:2px solid green;
}
.caseBoxWrapper .deaths{
    border:2px solid red;
}


.caseBoxWrapper .active h2{
    color: rgba(71, 87, 236, 0.904);
}
.caseBoxWrapper .recovered h2{
    color: green;
}
.caseBoxWrapper .deaths h2{
    color: red;
}




.caseBoxWrapper{
    width:70vw;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center ;
    text-align: center;
    flex:0.8;
    position:relative;

}

.caseBoxWrapper div{
    background-color: rgb(201, 181, 219);
    border:1px solid black;
    border-radius:15px;
    flex-basis: 300px;
    height:150px;
}

.caseBoxWrapper div:nth-child(1){
    box-shadow: 7px 9px 26px 0px rgba(71, 87, 236, 0.904);
    -webkit-box-shadow: 7px 9px 26px 0px rgba(71, 87, 236, 0.904);
    -moz-box-shadow: 7px 9px 26px 0px rgba(71, 87, 236, 0.904);
}
.caseBoxWrapper div:nth-child(2){
    box-shadow: 7px 9px 26px 0px #6de33ece;
    -webkit-box-shadow: 7px 9px 26px 0px #6de33ece;
    -moz-box-shadow: 7px 9px 26px 0px #6de33ece;
}
.caseBoxWrapper div:nth-child(3){
    box-shadow: 7px 9px 26px 0px rgba(227,62,62,0.68);
    -webkit-box-shadow: 7px 9px 26px 0px rgba(227,62,62,0.68);
    -moz-box-shadow: 7px 9px 26px 0px rgba(227,62,62,0.68);
}

.tableData{
    height:400px;
    overflow:auto;
    width:80vw;
    margin:20px auto;
    text-align: center;
}
.tableData{
    width:70vw;
    box-sizing:border-box;
    border:1px solid black;
    border-radius:10px;
    margin-top: 30px;
}

.tableData .countryWiseHeading{
    background-color: rgb(201, 181, 219);
    color:chocolate;
    margin:0;
    padding:10px;
    font-size: 50px;
    text-shadow: 5px 7px 6px rgba(210,65,65,0.43);
}
.tableData tr{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.tableData tr td{
    flex-basis: 15%;
}


.tableData tr:nth-of-type(even){
    background-color:burlywood;
    
}

.tableData tr:nth-of-type(1){
    font-weight: bold;
    background-color: chocolate;
    position:sticky;
    top:0;
}

.smallPara{
    margin:0;
    background-color: rgb(201, 181, 219);
    text-align:left;
    margin-top:-5px;
    color:rgb(0,0,0,.5)
}
.tableData button{
    color:blue;
    background-color:rgba(238, 238, 238, 0.774);
    display:inline-block;
    border-radius:10px;
    border:1px solid blue;
    outline:none;
    width:100px;
    height:35px;
    margin:5px auto;
}
.tableData button:hover,.tableData button:visited{
    color:green;
    border:1px solid green;
    background-color:rgba(238, 238, 238, 0.5);
}

footer{
    background-color: black;
    color:#fff;
    height:80px;
    display:flex;
    justify-content: center;
    align-items:center;
}


@media (max-width: 990px) {
    .selectBox{
        display:block;
        margin:20px auto;
        width: 80vw;
        box-sizing: border-box;
        height:40px;
        border-radius: 10px;

    }

    .tableData {
        min-width:420px;
      width:100%;
    }

    .caseBoxWrapper{
        flex-direction:column;
        
    }
    .caseBoxWrapper div{
        flex-basis: 200px;
        width:70vw;
        margin:10px;
    }

    .caseBoxWrapper h2{
        font-size: 30px;;
    }

  }

  @media (max-width: 600px){
      .serialColumn{
          display:none;
      }
      .tableData button{
          width:fit-content
      }
      .tableData .countryWiseHeading{
     font-size:30px;
    }
  }